
  
  /* ============================================= */
  /*              Buttons                          */
  /* ============================================= */
  
  .btn {
    margin-top: 15px;
    width: 100%;
    color: $white;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;
  }
  
  .default {
    background-color: $color-secondary;
    &:hover {
      @include hover-over($color-secondary);
    }
  }
  
  .error {
    background-color: $red;
    &:hover {
      @include hover-over($red);
    }
  }
  
  .info {
    background-color: $purple;
    &:hover {
      @include hover-over($purple);
    }
  }
  
  .success {
    background-color: $green;
    &:hover {
      @include hover-over($green);
    }
  }
  
  .warning {
    background-color: $orange;
    &:hover {
      @include hover-over($orange);
    }
  }
  
